
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<script type="text/javascript" src="{% static "main/js/jquery-3.2.1.min.js" %}"></script>
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<link rel="stylesheet" href="{% static "main/styles/codemirror.css" %}">
<link rel="stylesheet" href="{% static "main/styles/codemirror-neo.css" %}">
<link rel="stylesheet" href="{% static "main/styles/cy2neo.css" %}">
<link rel="stylesheet" href="{% static "main/styles/neod3.css" %}">
<link rel="stylesheet" href="{% static "main/styles/datatable.css" %}">
<link rel="stylesheet" href="{% static "main/styles/vendor.css" %}"> <!-- bootstrap-->
<link rel="stylesheet" href="{% static "main/styles/sweet-alert.css" %}">
<link rel="stylesheet" href="{% static "main/styles/gh-fork-ribbon.css" %}">
<script type="text/javascript" src="{% static "main/js/d3.min.js" %}"></script>
<script src="{% static "main/js/scripts/codemirror.js" %}"></script>
<script src="{% static "main/js/scripts/codemirror-cypher.js" %}"></script>
<script src="{% static "main/js/scripts/vendor.js" %}"></script>
<script src="{% static "main/js/scripts/sweet-alert.min.js" %}"></script>
<script src="{% static "main/js/scripts/neod3.js" %}"></script>
<script src="{% static "main/js/scripts/neod3-visualization.js" %}"></script>
<script src="{% static "main/js/scripts/neo4d3.js" %}"></script>
<script src="{% static "main/js/scripts/cy2neod3.js" %}"></script>
<script src="{% static "main/js/scripts/jquery.dataTables.min.js" %}"></script>
<script src="{% static "main/js/scripts/cypher.datatable.js" %}"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {# Display a form #}
            <form action="/parse" method="post" class="form" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  Построить семантическую сеть
                </button>
              {% endbuttons %}
            </form>
        </div>
    </div>
</div>
